@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="radio"] {
    all:unset;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #ecf0f1;
    cursor: pointer;
    margin-top: 5px;
    box-shadow: 1px 1px 3px #999999;
}

input[type="radio"]:checked{
    background-color: lawngreen;
}